*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
.logo{
    display: inline-block;    
    vertical-align: middle;
}

.title{
    display: inline-block;
    vertical-align: middle; 
}

header{
    background-color: white;
}

body{
    background-color: rgb(246, 248, 249);
}

.container{
    width: 80vw;
    margin: auto;
}

.button-section{
    margin-top: 3em;
    background-color: white;
    padding: 1em;
    padding-left: 4em;
    border-bottom:2px solid rgb(246, 248, 249);
}

.button1, .button2{
    padding: 0.5em;
    border-radius: 0.5em;
}

.button1{
    background-color: rgb(91, 171, 235);
    border: 1px solid rgb(91, 171, 235);
    color: white;
}

.button2{
    color: lightgray;
    border: 1px solid lightgray;
    background-color: white;

}

.task{
    margin: 1em;
}

h2{
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 20px;
}

section div span{
    display: inline-block;
    vertical-align: middle;
}

.tasks{
    background-color: white;
    padding: 3em;
}

.check{
    border: 2px solid rgb(124, 190, 170);
    color: rgb(124, 190, 170);
    border-radius: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 1em;
}

.cross{
    border: 2px solid rgb(214, 96, 96);
    color: rgb(214, 96, 96);
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 1em;
}

.post-tag{
    font-size: 0.7em;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
}

.blue{
    background-color: rgb(91, 171, 235);
}

.pink {
    background-color: violet;
}

.purple{
    background-color: purple;
}

.green {
    background-color: rgb(123, 190, 170)
}

.lightgreen{
    background-color: rgb(181, 200, 73)
}